{% extends 'base.html' %}

{% block title %}
Welcome, User!
{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Uday's Bookmarks</h1>
        <p>Social Bookmarking with Pluralsight's Flask Fundamentals course.</p>
    </header>
    <section>
        <h2>Recently Added</h2>
        {% if new_bookmarks %}
            <ul>
                {% for bm in new_bookmarks %}
                    <li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Bookmarks added yet.</p>
        {% endif %}
    </section>
</article>
{% endblock %}
